body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.displayResult {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
}

.calculateContainer {
    display: flex;
    margin-top: 40px;
}

.btn {
    width: 4rem;
    background-color:
        #a9a9a9;
    color: white;
    border: none;
    font-size: 2rem;
    border-radius: 8px;
    margin: 0px 20px 0px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    border: 1px #a9a9a9 solid;
    color: #a9a9a9;
}

.userInput {
    text-align: center;
    height: 3rem;
    width: 6rem;
    font-size: 2rem;
    border: 4px #a9a9a9 solid;
    border-radius: 8px;
    /* color: black; */
}

.userInput::placeholder {
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.negative {
    color: red;
}